
ls ../figure_3_Chemical_potential/n02/

cp ../figure_3_Chemical_potential/n02/ave_spectra.dat ave_spectra_x125_can.dat 
cp ../figure_3_Chemical_potential/n04/ave_spectra.dat ave_spectra_x250_can.dat 
cp ../figure_3_Chemical_potential/n06/ave_spectra.dat ave_spectra_x375_can.dat 
cp ../figure_3_Chemical_potential/n08/ave_spectra.dat ave_spectra_x500_can.dat 
cp ../figure_3_Chemical_potential/n10/ave_spectra.dat ave_spectra_x625_can.dat 
cp ../figure_3_Chemical_potential/n12/ave_spectra.dat ave_spectra_x750_can.dat 
cp ../figure_3_Chemical_potential/n14/ave_spectra.dat ave_spectra_x875_can.dat 
cp ../figure_3_Chemical_potential/n16/ave_spectra.dat ave_spectra_x999_can.dat 


cp spectra_different_compositions/x125/ave_spectra.dat ave_spectra_x125.dat 
cp spectra_different_compositions/x250/ave_spectra.dat ave_spectra_x250.dat 
cp spectra_different_compositions/x375/ave_spectra.dat ave_spectra_x375.dat 
cp spectra_different_compositions/x500/ave_spectra.dat ave_spectra_x500.dat 
cp spectra_different_compositions/x625/ave_spectra.dat ave_spectra_x625.dat 
cp spectra_different_compositions/x750/ave_spectra.dat ave_spectra_x750.dat 
cp spectra_different_compositions/x875/ave_spectra.dat ave_spectra_x875.dat 
cp spectra_different_compositions/n16/ave_spectra.dat  ave_spectra_x999.dat 
