#!/bin/bash

cd Zr00
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n16/.

cd ../Zr01
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n15/.

cd ../Zr02
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n14/.

cd ../Zr03
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n13/.

cd ../Zr04
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n12/.

cd ../Zr05
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n11/.

cd ../Zr06
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n10/.

cd ../Zr07
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n09/.

cd ../Zr08
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n08/.

cd ../Zr09
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n07/.

cd ../Zr10
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n06/.

cd ../Zr11
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n05/.

cd ../Zr12
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n04/.

cd ../Zr13
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n03/.

cd ../Zr14
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n02/.

cd ../Zr15
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n01/.

cd ../Zr16
cp SPECTRA ENERGIES XSPEC DATA PEAKS INP2S ../sod_files/n00/.

